aula01/*.iml
aula01/.gradle
aula01/local.properties
aula01/.idea/caches
aula01/.idea/libraries
aula01/.idea/modules.xml
aula01/.idea/workspace.xml
aula01/.idea/navEditor.xml
aula01/.idea/assetWizardSettings.xml
aula01/.DS_Store
aula01/build
aula01/captures
aula01/.externalNativeBuild
aula01/.cxx
aula01/local.properties

aula02/*.iml
aula02/.gradle
aula02/local.properties
aula02/.idea/caches
aula02/.idea/libraries
aula02/.idea/modules.xml
aula02/.idea/workspace.xml
aula02/.idea/navEditor.xml
aula02/.idea/assetWizardSettings.xml
aula02/.DS_Store
aula02/build
aula02/captures
aula02/.externalNativeBuild
aula02/.cxx
aula02/local.properties
